.category {
  display: flex;
  gap: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #ffffff69;
  justify-content: center;
}

.topBox {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  font-family: sans-serif;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 16px;
  background-color: #523b7e99;
}

.box {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

.right {
  width: 207px;
  height: 21px;
  font-family: sans-serif;
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
}

.area {
  width: 100%;
  max-width: 100%;
  border-width: 1px;
}

.list {
  margin: 0;
  padding: 0;
}

.total {
  padding-left: 12px;
  color: #fbfbfb;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.totalValue {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.evalue {
  color: #ff868d;
}

.ivalue {
  color: #ffb627;
}

.totalValue {
  margin: 12px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .right {
    width: 263px;
  }

  .category {
    width: 100%;
    max-width: 100%;
  }

  .area {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .right {
    width: 298px;
  }

  .category {
    width: 100%;
    max-width: 395px;
  }

  .area {
    width: 100%;
    max-width: 395px;
  }

  .totalValue {
    margin-right: 24px;
  }
}
