/* 📱 1. MOBİL TASARIM (Varsayılan Düzen) */
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: 
    url('/public/images/mobilebackground.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.card {
  width: 90%;
  max-width: 450px;
  border-radius: 16px;
  padding: 40px 32px;
  color: #ffffff; 
  z-index: 2;
  position: relative;
}

/* 💊 2. TABLET TASARIM (768px ve üzeri) */
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 40px;
    background-image:
    url('/public/images/coins-tablet1.webp'), 
    linear-gradient(45deg, rgba(20, 0, 40, 0.9) 0%, transparent 60%), /* 2. Sol Alt Gradient */
      linear-gradient(225deg, rgba(20, 0, 40, 0.9) 0%, transparent 60%),
      url('/public/images/coins-tablet1.webp'),
      url('/public/images/mobilebackground.jpg');
    
    /* Görsellerin Konumları (Tasarımınıza göre ayarlayın) */
    background-position: left center, right center, center, center, center center;
    
    /* Görsellerin Boyutları (Arka planı kapla, paraları orijinal boyutta bırak) */
    background-size: contain, cover, cover, cover, cover;
    
    /* Tekrar etme */
    background-repeat: no-repeat;
  }
  .card {
    max-width: 500px;
    padding: 40px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  }
}

/* 💻 3. MASAÜSTÜ TASARIM (1280px ve üzeri) */
@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 60px;
    background-image: 
      url('/public/images/coins-render1.webp'),
      url('/public/images/coins-render2.webp'),
      linear-gradient(45deg, rgba(20, 0, 40, 0.9) 0%, transparent 60%), /* 2. Sol Alt Gradient */
      linear-gradient(225deg, rgba(20, 0, 40, 0.9) 0%, transparent 60%),
      url('/public/images/mobilebackground.jpg');

    
    /* Görsellerin Konumları (Tasarımınıza göre ayarlayın) */
    background-position: left center, right center, center, center, center center;
    /* Görsellerin Boyutları (Arka planı kapla, paraları orijinal boyutta bırak) */
    background-size: contain, contain, cover, cover, cover;
    
    /* Tekrar etme */
    background-repeat: no-repeat;
  }
  .card {
    max-width: 550px;
  }
}